<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
    <h1>Bem vindo a pagina de videos</h1>

    <p>O vídeo em reprodução é: </p>
    <!-- tags ejs chamando variavel que veio do index.js -->
    <%= videos %>

    <!-- Condição para ver se o produto não foi passado -->
    <% if (!videos) { %>
        <p>Seus vídeos: <%= listaVideos %></p>
     <% } %>
</body>
</html>